[run]
omit =
    src/try_*.py
    src/main.py
    src/graph/sample_project/*
    src/parsers/test_sample.py
    src/*/__init__.py
    src/reviewer/prompts.pys

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError